.center {
  margin: auto;
  max-width: 1024px;
  height: 100%;
}

.web {
  background-color: #dddddd;
  margin: 0 2.5%;
  padding: 2.5%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.subContent {
  display: flex;
  justify-content: space-evenly;
}